.main {
    grid-column: 2 / -1;
    display: grid;
    grid-row-gap: 2rem;
    justify-items: center;
    align-content: start;

    @media screen and (max-width: 1300px) {
        grid-column: 1 / -1;
        justify-items: center;
    }

    & h1 {
        clip-path: polygon(2rem 0, 100% 0, 100% 100%, 0 100%);
    }

    & > * {
        width: 90%;
        padding: 10px;
        line-height: 2.4rem;
        color: $color-grey;
        background-color: rgb(240, 240, 240);
        border-radius: 3px;
        box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
        transition: all .2s;

        &:hover {
            transform: translateY(-1rem) scale(1.01);
        }
    }
}

.experience {
    @media screen and (max-width: 1300px) {
        margin-top: 2rem;
    }
}
